{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}About Finance data{% endblock %}

{% block content %}
    <!--page content-->
    <h1>About Finance data</h1>
    <form action="/Data">
    
   
    <p> The data used in this web app is from the CORGIS Dataset the project and can be found 
    <a href="https://think.cs.vt.edu/corgis/json/finance/">here</a>.</p>
    
    
      <blockquote cite="https://www.census.gov/programs-surveys/state/about.html">
     The Annual Survey of State Government Finances provides a comprehensive summary of the annual survey findings for state governments, 
    as well as data for individual states. The data contain detail of revenue by source, expenditure by object and function, indebtedness by term, and assets by purpose.
    What does term "assets by purpose" mean?
    This data goes back for almost two decades across every date. (1992 - 2019)
      </blockquote>
      
     An asset can be thought of as something that, in the future, can generate cash flow, reduce expenses or improve sales, regardless of whether it's
    manufacturing equipment or a patent.
    What are the purposes of assets?
    Assets are reported on a company's balance sheet and are bought or created to increase a firm's value or benefit the firm's operations.
    
      <blockquote cite="https://www.census.gov/programs-surveys/state/about.html">
    <p> The Annual Survey of State Government Finances provides a comprehensive summary of the annual survey findings for state governments, as well as data for individual
        states. The financial data is limited to coverage of state governments and provide no measure of local government finances as such. The information can be found in the 
    <a href="https://www.census.gov/programs-surveys/state/about.html">source</a>. They are using caution in attempting to draw conclusions from direct comparisons of financial amounts for
        individual state governments. Some states directly administer activities that elsewhere are undertaken by local governments, with or without state fiscal aid.</p>    
      </blockquote>
    
    
    
{% endblock %}



 
    
    
    
    
 

 


