<!DOCTYPE html>
<html>
  <head>
  
    
     
    <title>About Finance data</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
	<link rel="stylesheet" href="static/style.css">
  </head>
  <body> 
    <h1> About Finance data</h1>
    
    <p> The data used in this web app is from the CORGIS Dataset the project and can be found 
    <a href="https://think.cs.vt.edu/corgis/json/finance/">here</a>.</p>
   
    <p> The Annual Survey of State Government Finances provides a comprehensive summary of the annual survey findings for state governments, 
    as well as data for individual states. The data contain detail of revenue by source, expenditure by object and function, indebtedness by term, and assets by purpose.
    This data goes back for almost two decades across every date. (1992 - 2019)</p> 
      
    
    
    
 

  </body>
</html>


