{%extends "layout.html"%}


 
{% block title %}Home - My Webpage{% endblock %}
  


{% block content%}
     
    <!--page content-->
    <h1>Alabama Finance Data </h1>
	<form action="/Data">
	 <script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	title: {
		text: "Alabama - 2019 "
	},
	axisY: {
		title: "Money "

	},
	axisX: {
		title: "Finance"
	},
	data: [{
		type: "column",
		yValueFormatString: "#,##0.0#\"%\"",
		dataPoints: [
			{ label: "Capital outlay", y: {{co}} },	
			{ label: "Revenue", y: {{r}} },	
			{ label: "Expenditure", y: {{e}} },
			{ label: "General expenditure", y: {{ge}} },	
			{ label: "General revenue", y: {{gr}} },
			{ label: "Insurance trust  revenue", y: {{itr}} },
			{ label: "Intergovernmental", y: {{i}} },
			{ label: "Tax", y: {{t}} }
          
          
			
		]
	}]
});
chart.render();

}
</script>
   

    <div id="chartContainer" style="height: 700px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    
    
    
    
    
    
    
 {% endblock %}

